/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FARVER */
:root {
  --green-dark: #1f3a2e;
  --green-deep: #163026;
  --luxury-light: #e9e4db;
  --text-dark: #2b2b2b;
}

/* BODY */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--luxury-light);
  color: var(--text-dark);
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 60px;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;     /* justér efter smag */
  width: auto;
  display: block;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a {
  font-family: 'Playfair Display', serif; /* korrekt formatering */
  font-size: 18px; /* vælg størrelse du ønsker */
  color: #f8f4f4;  /* vælg farve */
  text-decoration: none; /* fjerner understregning */
}


.menu a:hover {
  opacity: 0.7;
}

/* HERO */
.hero {
  position: relative;
}

/* BILLEDE */
.hero img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

/* TEKST OVENPÅ */
.hero-text {
  position: absolute;
  font-family: 'Playfair Display', serif; /* fx Playfair Display */
  top: 20%;           /* hvor langt ned fra toppen af hero */
  left: 0;            /* start fra venstre kant */
  width: 100%;        /* fylder hele hero */
  text-align: center;  /* centrerer teksten indenfor bredden */
  color: white;
  z-index: 4;
}
.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  margin-bottom: 10px;
}

.hero-text p {
  font-family: 'Playfair Display', serif; /* fx Playfair Display */
  font-size: 40px;
  opacity: 0.9;
}

.hero-text h1,
.hero-text p {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}


.footer {
    background-color: #19241b;
    color: #f8f4f4;
    padding: 60px 20px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Playfair Display', serif;
    }

    .footer-name {
        font-size: 30px;
        font-family: 'Playfair Display', serif;
    }

    .footer-role {
        font-size: 25px;
        font-family: 'Playfair Display', serif;
    }

    .footer-contact {
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: color 0,3s;
            }

    a:hover {
        color: rgb(90, 172, 93);
    }
